:is(.poem-menu, .home-content-lists) {
	.poem-post-list {
		li {
			padding: .77em 1.2em;

			.title {
				display: block;
				margin-block: 0;
				
				font-weight: 380;
				font-size: 1.12em;
				letter-spacing: 0.01em;
			}
		}

		&:not(.home-content-list) {
			display: grid;
			grid-template-columns: repeat(auto-fit, minmax(15vw, 1fr));
			padding: .4em 1em;

			margin-top: 2em;
			border-top: solid 2px color-mix(in srgb, var(--primary-accent), var(--primary-bg));
			border-bottom: solid 2px color-mix(in srgb, var(--primary-accent), var(--primary-bg));

			// background-color: color-mix(in srgb, var(--primary-accent), transparent 95%);

			li {		
				border: none;
				padding: 1em .8em;
				font-size: 1.1em;

				.title {
					font-weight: 400
				}

				&:hover{
					background-color: inherit;
					color: inherit;

					a {
						color: var(--text-accent);
					}
				}

				a {
					transition: color ease-in 150ms;
					display: block;

					.title {
						display: block;
					}
				}
			}
		}
	}
}