{{ define "main" }}
	<h1> {{ .Title }} </h1>
	<main>
		{{ $section := .Section }}
		{{ $pages := .Site.GetPage "section" $section }}
		{{ if not $pages.Pages }}
			{{ partial "empty" . }}
		{{ else }}
		<ul class="poem-list">
			<!-- Ranges through content/poems/*.md -->
			{{/*  TODO: make multiple lists based on header, so we can choose what themes we want to read  */}}
			{{ range $pages.Pages }}
			<li>
				<a href="{{.Permalink}}">{{.Title}}</a>
			</li>
			{{ end }}
		</ul>
		{{ end }}
	</main>
{{ end }}