.backnext {
	--backnext-bg-color: color-mix(in oklch, var(--primary-accent) 13%, var(--primary-bg));
	background-color: var(--secondary-bg);
	background-color: var(--backnext-bg-color);
	color: var(--secondary-color);
	width: fit-content;
	margin-inline: auto;

	flex-grow: 0;

	ul {
		width: fit-content;
		display: flex;
		flex-direction: row;
		justify-content:center;
		gap:0;
		padding: 0;
		margin: 0;

		li {
			border: 1px solid var(--secondary-accent);
			padding-block: .7em;
			padding-inline: 1.5em;
			list-style-type: none;

			&:hover {
				background-color: color-mix(in oklch, var(--primary-accent) 20%, var(--primary-bg))
			}

			&.disabled {
				background-color: color-mix(in oklch, var(--backnext-bg-color) 96%, var(--pure-contrast));
				--contrast-color: color-mix(in oklch, var(--backnext-bg-color) 68%, var(--pure-contrast)) ;

				&:has(.next) {
					border-color: var(--contrast-color);
					border-left-color: var(--secondary-accent);
				}
				&:has(.previous) {
					border-color: var(--contrast-color);
					border-right-color: var(--secondary-accent);				
				}
				a{ color: var(--contrast-color); }
				
			}

			&:first-child {
				border-right: none;
			}

			a {text-decoration: none}
			
		}
	}
}	