<!DOCTYPE html>
<html>
	{{ partial "head.html" . }}

	<body> <!-- default theme was added in js -->
		{{ partial "navbar.html" . }}
		<div id="modal-background">
		</div>
		<div class="mainbody">
			{{ block "main" . }}
			<!-- The part of the page that begins to differ between templates -->
			{{ end }}
			{{ partial "footer.html" . }}
		</div>
		<script type="module" src="{{ "main.js" | relURL }}"></script>
		{{ if .Store.Get "hasMermaid" }}
			<script type="module">
				import mermaid from 'https://cdn.jsdelivr.net/npm/mermaid/dist/mermaid.esm.min.mjs';
				mermaid.initialize({ startOnLoad: true });
			</script>
		{{ end }}
	</body>

</html>