@use 'sass:color';
@use 'theme';

.theme-options {
	display: grid;
	grid-template-columns: repeat(3, 1fr);
	grid-template-rows: auto;
	gap: 1em;
	border-radius: 0rem;
	/* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */

	.theme-item[class*="theme-"] {
		position: relative;
		font-family: var(--theme-button-font);
		box-sizing: border-box;
		position: relative;
		color: var(--primary-color);
		font-size: 1.5em;
		user-select: none;
		background-color: var(--primary-bg);
		position: relative;
		padding: 1.6rem;
		padding-left: 7%;
		padding-right: 25%;

		text-decoration: var(--primary-accent) 2px underline;
		text-underline-offset: .25em;

		--border-width: 4%;
		--middle: 7%;
		--middle-middle: var(--middle);
		--middle-left: calc(var(--middle) - var(--border-width));
		--middle-right: calc(var(--middle) + var(--border-width));
		--right: 90%;
		overflow: hidden;


		background: linear-gradient(
			75deg,
			var(--primary-bg) var(--middle-left),
			var(--primary-accent) var(--middle-left),
			var(--primary-accent) var(--middle-middle),
			var(--secondary-bg) var(--middle-middle),
			var(--secondary-bg) var(--right)
		);

		// border-radius: .8rem;
		border-radius: 0rem;
		border: 3px solid var(--primary-accent);
		box-shadow: 0 0 3px color-mix(in srgb, transparent 95%, var(--pure-contrast));

		&::after {
			content: "";
			position: absolute;
			background-color: var(--secondary-accent);
			// border-radius: 100%;
			transform: rotate(75deg);
			right:-55%;
			top: -35%;
			height: 150%;
			aspect-ratio: 1 / 1;
			// box-shadow: 0 0 1px var(--pure-contrast) inset;
		}
	}
}

