/* 

*-color: foreground, text
*-bg: background of elements
*-accent: setting an element or text to stand out against bg
*-accent-contrast: setting an element (text, usually) to stand out against accent. When in doubt, set to *-bg.

When unsure of tertiary-*, set to secondary-*; 
when unsure of secondary-*, set to primary-*.

eventually add a third accent type called accent color:
- specifically for accent text on *-bg, as opposed to accent-contrast on accent-bg and 


all colours must be fully opaque. 
*/
.theme-light {
  --base-accent: #3fa7a7;
  --pure-contrast: black;
  --primary-color: #212729;
  --primary-bg: #f6f6f6;
  --primary-accent: #2b92af;
  --primary-accent-contrast: var(--primary-bg);
  --secondary-color: var(--primary-bg);
  --secondary-bg: #354044;
  --secondary-accent: #3fa7a7;
  --secondary-accent-contrast: var(--secondary-bg);
  --tertiary-color: var(--primary-color);
  --tertiary-bg: #c6d1d1;
  --tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent));
  --tertiary-accent-contrast: var(--tertiary-bg);
}

.theme-default, .theme-dark {
  --pure-contrast: white;
  --base-accent: #408b8b;
  --primary-color: #e4e6e7;
  --primary-bg: #212729;
  --primary-accent: #4fa6ba;
  --primary--accent-contrast: var(--primary-bg);
  --secondary-color: white;
  --secondary-bg: #12181c;
  --secondary-accent: #408b8b;
  --secondary-accent-contrast: var(--secondary-bg);
  --tertiary-color: rgba(240, 248, 255, 0.736);
  --tertiary-bg: #404747;
  --tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent));
  --tertiary-accent-contrast: color-mix(in srgb, black, var(--tertiary-bg));
}

.theme-raspberry {
  --base-accent: #d32274;
  --pure-contrast: white;
  --primary-color: #dbd2d4;
  --primary-bg: #19030b;
  --primary-accent: #d32274;
  --primary-accent-contrast: var(--primary-color);
  --secondary-color: white;
  --secondary-bg: #4d1126;
  --secondary-accent: #ea799f;
  --secondary-accent-contrast: var(--secondary-bg);
  --tertiary-color: color-mix(in oklch, white 85%, var(--base-accent));
  --tertiary-bg: color-mix(in srgb, var(--primary-bg), #ff73a2 43%);
  --tertiary-accent: color-mix(in oklch, var(--secondary-accent) 55%, var(--base-accent));
  --tertiary-accent-contrast: var(--tertiary-color) ;
}

.theme-cherry-blossom {
  --pure-contrast: black;
  --primary-color: #212729;
  --primary-bg: #fff;
  --primary-accent: rgb(220, 67, 154);
  --primary-accent-contrast: white;
  --secondary-color: #511b36;
  --secondary-bg: #f8d9e9;
  --secondary-accent: hotpink;
  --secondary-accent-contrast: var(--secondary-bg);
  --tertiary-color: white;
  --tertiary-bg: #ca9dbc;
  --tertiary-accent: rgb(255, 178, 216);
  --tertiary-accent-contrast: black;
}

.theme-sepia {
  --pure-contrast: black;
  --primary-color: #482005;
  --primary-bg: #f0e8e0;
  --primary-bg: #fcf2e5;
  --primary-accent: rgb(192, 130, 106);
  --secondary-color: white;
  --secondary-bg: #b38877;
  --secondary-bg: color-mix(in srgb, #c2847a, var(--primary-bg));
  --secondary-bg: #b58670;
  --secondary-accent: #f7cf9c;
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: #bdb19f;
  --tertiary-bg: #baa898;
  --tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent));
}

.theme-jest {
  --primary-color: #750b4c;
  --primary-bg: #ffe8f3;
  --primary-accent: rgb(238, 170, 204);
  --secondary-color: #fff;
  --secondary-bg: #475d43;
  --secondary-accent: rgb(197, 234, 197);
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: #a2ad917d;
  --tertiary-accent: color-mix(in srgb, var(--secondary-color), var(--secondary-accent));
}

.theme-emerald {
  --pure-contrast: white;
  --primary-color: #7cbd97;
  --primary-bg: #10351c;
  --primary-accent: rgb(170, 238, 191);
  --secondary-color: #fff;
  --secondary-bg: #071f0e;
  --secondary-accent: rgb(113, 207, 113);
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: color-mix(in oklch, #56a86f, var(--secondary-bg));
  --tertiary-accent: color-mix(in srgb, var(--primary-bg), var(--secondary-accent) 60%);
}

.theme-grape {
  --base-accent: #ab7eeb;
  --primary-color: #303085;
  --primary-bg: #9c8ec4;
  --primary-accent: rgb(145, 97, 204);
  --secondary-color: #fff;
  --secondary-bg: #6c4879;
  --secondary-accent: #ab7eeb;
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: #6a48797b;
  --tertiary-accent: #dcc8ff;
}

.theme-space {
  --base-accent: #7e94eb;
  --pure-contrast: white;
  --primary-color: #f6f6ff;
  --primary-bg: #1a1147;
  --primary-accent: rgb(152, 139, 214);
  --secondary-color: #fff;
  --secondary-bg: #06062a;
  --secondary-accent: #7e94eb;
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: #3a324c7b;
  --tertiary-accent: #dcc8ff;
}

.theme-peony {
  --base-accent: #rgb(255,181,96);
  --pure-contrast: black;
  --primary-color: #212729;
  --primary-bg: #fffef2;
  --primary-accent: rgb(235, 168, 81);
  --secondary-color: #102307;
  --secondary-bg: #fef1d8;
  --secondary-accent: rgb(255, 181, 96);
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: var(--secondary-bg);
  --tertiary-accent: var(--secondary-accent);
  --tertiary-accent-contrast: var(--tertiary-bg) ;
}

.theme-options {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 2em;
  padding: 2em;
  border-radius: 0rem;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
}
.theme-options .theme-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  color: var(--primary-color);
  font-size: 1.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--primary-bg);
  position: relative;
  padding: 2rem;
  padding-right: 3rem;
  -webkit-text-decoration: var(--primary-accent) 2px underline;
          text-decoration: var(--primary-accent) 2px underline;
  text-underline-offset: 0.25em;
  --middle: 70%;
  --right: 95%;
  background: linear-gradient(45deg, var(--primary-bg) var(--middle), var(--secondary-bg) var(--middle), var(--secondary-bg) var(--right), var(--tertiary-bg) var(--right));
}
.theme-options .theme-item.active {
  /* it's not updating this? */
  border: 3px outset var(--primary-accent);
  -webkit-box-shadow: 0 0 15px color-mix(in srgb, transparent 80%, var(--secondary-bg));
          box-shadow: 0 0 15px color-mix(in srgb, transparent 80%, var(--secondary-bg));
}/*# sourceMappingURL=settings.css.map */