@use 'sass:color';
@use 'theme';

.theme-options {
	display: grid;
	grid-template-columns: repeat(1, 1fr);
	grid-template-rows: auto;
	gap: 2em;
	padding: 2em;
	border-radius: 0rem;
	/* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */

	.theme-item[class*="theme-"] {
		font-family: var(--theme-button-font);
		box-sizing: border-box;
		position: relative;
		color: var(--primary-color);
		font-size: 1.5em;
		user-select: none;
		background-color: var(--primary-bg);
		position: relative;
		padding: 2rem;
		padding-right: 3rem;

		text-decoration: var(--primary-accent) 2px underline;
		text-underline-offset: .25em;

		--middle: 70%;
		--middle-left: calc(var(--middle) - 10%);
		--middle-right: calc(var(--middle) + 10%);
		--right: 95%;

		// background: linear-gradient(
		// 	45deg,
		// 	var(--primary-bg) var(--middle),
		// 	var(--secondary-bg) var(--middle),
		// 	var(--primary-accent) var(--middle-left),
		// 	var(--primary-accent) var(--middle-right),
		// 	var(--secondary-bg) var(--middle-right)
		// );

		--border-width: 4%;
		--middle: 70%;
		--middle-middle: var(--middle);
		--middle-left: calc(var(--middle) - var(--border-width));
		--middle-right: calc(var(--middle) + var(--border-width));
		--right: 95%;

		background: linear-gradient(
			45deg,
			var(--primary-bg) var(--middle-left),
			var(--primary-accent) var(--middle-left),
			var(--primary-accent) var(--middle-middle),
			var(--secondary-bg) var(--middle-middle),
			var(--secondary-bg) var(--right)
		) !important;


		&.active {
			/* it's not updating this? */
			border: 3px outset var(--primary-accent);
			box-shadow: 0 0 15px color-mix(in srgb, transparent 80%, var(--secondary-bg));
		} 
	}
}