@use 'theme';
@use 'settings';

@use 'content/base';
@use 'content/blockquotes';
@use 'content/chapter-list';
@use 'content/dinkuses';
@use 'content/endmatter';
@use 'content/page-info';
@use 'content/postheader';
@use 'content/visuals';

@use 'core/backnext';
@use 'core/body';
@use 'core/footer';
@use 'core/mainbody';
@use 'core/navbar';

@use 'menus/default';
@use 'menus/essays';
@use 'menus/home-lists';
@use 'menus/poems';

@use 'pagetypes/four-o-four';
@use 'pagetypes/maths';
@use 'pagetypes/poetry';
@use 'pagetypes/prose';

	// — sans — 
@import url('https://fonts.googleapis.com/css2?family=Jost');
@import url('https://fonts.googleapis.com/css2?family=Nunito+Sans:ital,opsz,wght@0,6..12,200..1000;1,6..12,200..1000&display=swap');

	// — transitionals — 
@import url('https://fonts.googleapis.com/css2?family=Spectral');
@import url('https://fonts.googleapis.com/css2?family=Newsreader:ital,opsz,wght@0,6..72,200..800;1,6..72,200..800&display=swap');

	// — misc serif — 
@import url('https://fonts.googleapis.com/css2?family=Bellefair');
@import url('https://fonts.googleapis.com/css2?family=Cardo');

    // — Mono — 
@import url('https://fonts.googleapis.com/css2?family=Chivo+Mono');
// @import url('https://fonts.googleapis.com/css2?family=Fira+Code');

	// — slab —
@import url('https://fonts.googleapis.com/css2?family=Arvo');

* {
	box-sizing: border-box;
}

*:root {
	--nav-width: 10vw;
	--primary-font: Newsreader, Spectral, serif;
	--sans-font:  "Nunito sans", jost, sans-serif;
	--logo-font: Bellefair, 'Playfair display', serif;
	--tertiary-font: Bellefair, serif;
	--main-font-size: 20px;
	--prose-title-font: Bellefair, serif;
	--poem-font: Newsreader, serif;
	--code-font: "Chivo Mono", "Fira Code", monospace, sans-serif;
	font-size: var(--main-font-size);
	/* to set rem */
}

// MOBILE AT THE END
@import 'mobile';