@charset "UTF-8";
@import url("https://fonts.googleapis.com/css2?family=Source+Serif+4");
@import url("https://fonts.googleapis.com/css2?family=Quicksand");
@import url("https://fonts.googleapis.com/css2?family=Cardo");
@import url("https://fonts.googleapis.com/css2?family=Spectral");
@import url("https://fonts.googleapis.com/css2?family=Jost");
@import url("https://fonts.googleapis.com/css2?family=Bellefair");
/* 

*-color: foreground, text
*-bg: background of elements
*-accent: setting an element or text to stand out against bg
*-accent-contrast: setting an element (text, usually) to stand out against accent. When in doubt, set to *-bg.

When unsure of tertiary-*, set to secondary-*; 
when unsure of secondary-*, set to primary-*.

eventually add a third accent type called accent color:
- specifically for accent text on *-bg, as opposed to accent-contrast on accent-bg and 


all colours must be fully opaque. 
*/
.theme-light {
  --base-accent: #3fa7a7;
  --pure-contrast: black;
  --primary-color: #212729;
  --primary-bg: #f6f6f6;
  --primary-accent: #2b92af;
  --primary-accent-contrast: var(--primary-bg);
  --secondary-color: var(--primary-bg);
  --secondary-bg: #354044;
  --secondary-accent: #3fa7a7;
  --secondary-accent-contrast: var(--secondary-bg);
  --tertiary-color: var(--primary-color);
  --tertiary-bg: #c6d1d1;
  --tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent));
  --tertiary-accent-contrast: var(--tertiary-bg);
}

.theme-default, .theme-dark {
  --pure-contrast: white;
  --base-accent: #408b8b;
  --primary-color: #e4e6e7;
  --primary-bg: #212729;
  --primary-accent: #4fa6ba;
  --primary--accent-contrast: var(--primary-bg);
  --secondary-color: white;
  --secondary-bg: #12181c;
  --secondary-accent: #408b8b;
  --secondary-accent-contrast: var(--secondary-bg);
  --tertiary-color: rgba(240, 248, 255, 0.736);
  --tertiary-bg: #404747;
  --tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent));
  --tertiary-accent-contrast: color-mix(in srgb, black, var(--tertiary-bg));
}

.theme-raspberry {
  --base-accent: #d32274;
  --pure-contrast: white;
  --primary-color: #dbd2d4;
  --primary-bg: #19030b;
  --primary-accent: #d32274;
  --primary-accent-contrast: var(--primary-color);
  --secondary-color: white;
  --secondary-bg: #4d1126;
  --secondary-accent: #ea799f;
  --secondary-accent-contrast: var(--secondary-bg);
  --tertiary-color: color-mix(in oklch, white 85%, var(--base-accent));
  --tertiary-bg: color-mix(in srgb, var(--primary-bg), #ff73a2 43%);
  --tertiary-accent: color-mix(in oklch, var(--secondary-accent) 55%, var(--base-accent));
  --tertiary-accent-contrast: var(--tertiary-color) ;
}

.theme-cherry-blossom {
  --pure-contrast: black;
  --primary-color: #212729;
  --primary-bg: #fff;
  --primary-accent: rgb(220, 67, 154);
  --primary-accent-contrast: white;
  --secondary-color: #511b36;
  --secondary-bg: #f8d9e9;
  --secondary-accent: hotpink;
  --secondary-accent-contrast: var(--secondary-bg);
  --tertiary-color: white;
  --tertiary-bg: #ca9dbc;
  --tertiary-accent: rgb(255, 178, 216);
  --tertiary-accent-contrast: black;
}

.theme-sepia {
  --pure-contrast: black;
  --primary-color: #482005;
  --primary-bg: #f0e8e0;
  --primary-bg: #fcf2e5;
  --primary-accent: rgb(192, 130, 106);
  --secondary-color: white;
  --secondary-bg: #b38877;
  --secondary-bg: color-mix(in srgb, #c2847a, var(--primary-bg));
  --secondary-bg: #b58670;
  --secondary-accent: #f7cf9c;
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: #bdb19f;
  --tertiary-bg: #baa898;
  --tertiary-accent: color-mix(in srgb, var(--primary-color), var(--secondary-accent));
}

.theme-jest {
  --primary-color: #750b4c;
  --primary-bg: #ffe8f3;
  --primary-accent: rgb(238, 170, 204);
  --secondary-color: #fff;
  --secondary-bg: #475d43;
  --secondary-accent: rgb(197, 234, 197);
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: #a2ad917d;
  --tertiary-accent: color-mix(in srgb, var(--secondary-color), var(--secondary-accent));
}

.theme-emerald {
  --pure-contrast: white;
  --primary-color: #7cbd97;
  --primary-bg: #10351c;
  --primary-accent: rgb(170, 238, 191);
  --secondary-color: #fff;
  --secondary-bg: #071f0e;
  --secondary-accent: rgb(113, 207, 113);
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: color-mix(in oklch, #56a86f, var(--secondary-bg));
  --tertiary-accent: color-mix(in srgb, var(--primary-bg), var(--secondary-accent) 60%);
}

.theme-grape {
  --base-accent: #ab7eeb;
  --primary-color: #303085;
  --primary-bg: #9c8ec4;
  --primary-accent: rgb(145, 97, 204);
  --secondary-color: #fff;
  --secondary-bg: #6c4879;
  --secondary-accent: #ab7eeb;
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: #6a48797b;
  --tertiary-accent: #dcc8ff;
}

.theme-space {
  --base-accent: #7e94eb;
  --pure-contrast: white;
  --primary-color: #f6f6ff;
  --primary-bg: #1a1147;
  --primary-accent: rgb(152, 139, 214);
  --secondary-color: #fff;
  --secondary-bg: #06062a;
  --secondary-accent: #7e94eb;
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: #3a324c7b;
  --tertiary-accent: #dcc8ff;
}

.theme-peony {
  --base-accent: #rgb(255,181,96);
  --pure-contrast: black;
  --primary-color: #212729;
  --primary-bg: #fffef2;
  --primary-accent: rgb(235, 168, 81);
  --secondary-color: #102307;
  --secondary-bg: #fef1d8;
  --secondary-accent: rgb(255, 181, 96);
  --tertiary-color: var(--secondary-color);
  --tertiary-bg: var(--secondary-bg);
  --tertiary-accent: var(--secondary-accent);
  --tertiary-accent-contrast: var(--tertiary-bg) ;
}

.theme-options {
  display: grid;
  grid-template-columns: repeat(1, 1fr);
  grid-template-rows: auto;
  gap: 2em;
  padding: 2em;
  border-radius: 0rem;
  /* grid-template-columns: repeat(auto-fill, minmax(100px, 1fr)); */
}
.theme-options .theme-item {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  position: relative;
  color: var(--primary-color);
  font-size: 1.5em;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
  background-color: var(--primary-bg);
  position: relative;
  padding: 2rem;
  padding-right: 3rem;
  -webkit-text-decoration: var(--primary-accent) 2px underline;
          text-decoration: var(--primary-accent) 2px underline;
  text-underline-offset: 0.25em;
  --middle: 70%;
  --right: 95%;
  background: linear-gradient(45deg, var(--primary-bg) var(--middle), var(--secondary-bg) var(--middle), var(--secondary-bg) var(--right), var(--tertiary-bg) var(--right));
}
.theme-options .theme-item.active {
  /* it's not updating this? */
  border: 3px outset var(--primary-accent);
  -webkit-box-shadow: 0 0 15px color-mix(in srgb, transparent 80%, var(--secondary-bg));
          box-shadow: 0 0 15px color-mix(in srgb, transparent 80%, var(--secondary-bg));
}

* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

*:root {
  --nav-width: 10vw;
  --primary-font: spectral, "Cardo";
  --sans-font: jost, "quicksand", "Julius sans one", "Jura", "Bricolage Grotesque";
  --header-font: "Spectral", "Playfair Display", "Julius sans one";
  --logo-font: Bellefair, "Playfair display";
  --main-font-size: 20px;
  font-size: var(--main-font-size);
  /* to set rem */
}

body {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  padding: 0;
  margin: 0;
  background-color: var(--primary-bg);
  font-family: var(--primary-font);
  color: var(--primary-color);
  font-size: 1rem;
  overflow: scroll;
  min-height: 100vh;
  height: 100;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
}
body a {
  color: var(--primary-color);
}
body p > a {
  color: var(--primary-accent);
}

body {
  background-color: var(--primary-bg);
  color: var(--primary-color);
}

.nav-mobile {
  display: none;
}

.navbar {
  font-family: var(--sans-font);
  font-weight: 100;
  text-transform: uppercase;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: var(--nav-width);
  min-width: -webkit-min-content;
  min-width: -moz-min-content;
  min-width: min-content;
  text-wrap: pretty;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  position: sticky;
  top: 0;
  height: 100vh;
  padding: 3em 1.1em 3em 1.1em;
  background-color: var(--secondary-bg);
  color: var(--secondary-color);
  /* underline effect */
  /* more nav stuff */
}
.navbar * {
  display: block;
  line-height: 2;
  letter-spacing: 0.1em;
}
.navbar .navbar-item.navbar-logo {
  font-size: 1.9rem;
  font-family: var(--logo-font);
  font-weight: 100;
  text-transform: capitalize;
  margin-block: 2rem;
  line-height: 1.4;
  width: -webkit-min-content;
  width: -moz-min-content;
  width: min-content;
}
.navbar .navbar-item.navbar-logo::after {
  content: "";
  width: 70%;
  height: 2px;
  background-color: var(--secondary-accent);
  display: block;
  margin: auto;
}
.navbar a,
.navbar #blog-button {
  text-decoration: none;
  color: inherit;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  text-wrap: pretty;
}
.navbar .navbar-item {
  background: -webkit-gradient(linear, left top, right top, from(transparent), to(transparent)), -webkit-gradient(linear, left top, right top, from(color-mix(in srgb, var(--secondary-accent), var(--primary-bg))), to(var(--secondary-accent)));
  background: linear-gradient(to right, transparent, transparent), linear-gradient(to right, color-mix(in srgb, var(--secondary-accent), var(--primary-bg)), var(--secondary-accent));
  background-size: 100% 3px, 0 3px;
  background-position: 100% 100%, 0 100%;
  background-repeat: no-repeat;
  opacity: 0.75;
  -webkit-transition-property: opacity, background-position;
  transition-property: opacity, background-position;
  -webkit-transition: 200ms ease-in-out;
  transition: 200ms ease-in-out;
  margin-block: 0.3em;
  font-size: 0.9em;
}
.navbar a,
.navbar #blog-button {
  font-weight: 800;
}
.navbar a:not(.navbar-logo):hover {
  background-size: 0 3px, 100% 3px;
  opacity: 1;
}
.navbar li a {
  margin-left: 1em;
}
.navbar a#home-link {
  letter-spacing: 0.2em;
  font-size: 1.3em;
  font-weight: 800;
  opacity: unset;
}
.navbar a.active {
  color: var(--secondary-accent);
  opacity: 1;
}

.mainbody {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  width: calc(100vw - var(--nav-width));
  margin-right: 0;
  margin-left: auto;
}
.mainbody ::-moz-selection {
  background-color: var(--secondary-bg);
  color: var(--secondary-accent);
}
.mainbody ::selection {
  background-color: var(--secondary-bg);
  color: var(--secondary-accent);
}
.mainbody > h1 {
  padding-inline: 3rem;
  margin-bottom: 0;
  margin-top: 2rem;
}
.mainbody main {
  padding-block: 3rem;
  padding-left: 7rem;
  padding-right: 10rem;
  overflow-y: auto;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  grid-column: 2;
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
  width: 100%;
  min-height: 100vh;
}
.mainbody .footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 100%;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  padding-block: 0.3rem;
  border-top: solid 5px var(--secondary-bg);
  padding-block: 1em;
}
.mainbody .footer p {
  display: block;
  margin: 0;
}
.mainbody hr {
  border-color: color-mix(in srgb, transparent 80%, var(--primary-accent));
}

.tag-list {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  gap: 0.5rem;
}
.tag-list .tag {
  background-color: color-mix(in oklab, var(--primary-accent), transparent 70%);
  padding: 0.5rem;
  font-size: 0.8rem;
  border-radius: 2rem;
  display: block;
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  -webkit-user-select: none;
     -moz-user-select: none;
      -ms-user-select: none;
          user-select: none;
}

.mainbody main.container h1.title {
  margin-bottom: 0.3em;
}

main.post-list, main > .post-list {
  display: block;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}
main.post-list .post-list-item, main > .post-list .post-list-item {
  display: block;
  background-color: var(--tertiary-bg);
  padding-block: 0.5rem;
  padding-inline: 1rem;
  padding-block: 1rem;
  margin-bottom: 2rem;
  color: var(--tertiary-color);
}
main.post-list .post-list-item a, main > .post-list .post-list-item a {
  color: var(--tertiary-color);
}
main.post-list .post-list-item .title, main > .post-list .post-list-item .title {
  color: var(--tertiary-color);
  margin-block: 0;
  opacity: 0.8;
  font-family: var(--sans-font);
  text-transform: uppercase;
  font-size: 1.15rem;
  width: 60%;
  text-wrap: pretty;
}
main.post-list .post-list-item .preview, main > .post-list .post-list-item .preview {
  background-color: var(--tertiary-bg);
  color: var(--tertiary-color);
  border: var(--tertiary-accent) 2px solid;
  height: -webkit-max-content;
  height: -moz-max-content;
  height: max-content;
  padding-inline: 1rem;
  padding-block: 1rem;
  -webkit-padding-before: 0.6rem;
          padding-block-start: 0.6rem;
  -webkit-margin-after: 1.3rem;
          margin-block-end: 1.3rem;
  -webkit-margin-before: 0.7rem;
          margin-block-start: 0.7rem;
  font-size: 0.9rem;
}
main.post-list .post-list-item .preview > h1, main.post-list .post-list-item .preview > p, main > .post-list .post-list-item .preview > h1, main > .post-list .post-list-item .preview > p {
  margin-block: 0;
}
main.post-list .post-list-item .preview h1, main.post-list .post-list-item .preview h2, main.post-list .post-list-item .preview h3, main.post-list .post-list-item .preview h4, main.post-list .post-list-item .preview h5, main.post-list .post-list-item .preview h6, main > .post-list .post-list-item .preview h1, main > .post-list .post-list-item .preview h2, main > .post-list .post-list-item .preview h3, main > .post-list .post-list-item .preview h4, main > .post-list .post-list-item .preview h5, main > .post-list .post-list-item .preview h6 {
  font-size: 1.1rem;
}
main.post-list .post-list-item .preview .more-link, main > .post-list .post-list-item .preview .more-link {
  color: var(--tertiary-accent);
  font-weight: bold;
}
main.post-list .post-list-item .tag, main > .post-list .post-list-item .tag {
  background-color: var(--tertiary-accent);
  color: var(--tertiary-accent-contrast);
  font-weight: 600;
}
main.post-list a, main > .post-list a {
  text-decoration: none;
}
main.post-list .section-name-headers a, main > .post-list .section-name-headers a {
  -webkit-text-decoration: underline solid 2px var(--secondary-accent);
          text-decoration: underline solid 2px var(--secondary-accent);
}
main.post-list .content.shortened, main > .post-list .content.shortened {
  white-space: nowrap;
  overflow: hidden;
  text-overflow: ellipsis;
  max-width: 5em;
}
main.post-list .empty-message, main > .post-list .empty-message {
  background-color: color-mix(in srgb, var(--secondary-bg), transparent);
  border: 2px var(--primary-accent) dashed;
  border: none;
  color: var(--secondary-color);
  padding-inline: 2em;
  padding-block: 1em;
}
main.post-list .empty-message p, main > .post-list .empty-message p {
  font-size: 1.5rem;
}
main.post-list .empty-message h1, main > .post-list .empty-message h1 {
  font-size: 2rem;
}

.mainbody article.content {
  padding-block: 2em;
}
.mainbody article.content blockquote {
  margin-inline: 0;
  -webkit-border-start: 2px var(--secondary-accent) solid;
          border-inline-start: 2px var(--secondary-accent) solid;
  -webkit-padding-start: 1.4em;
          padding-inline-start: 1.4em;
  -webkit-margin-start: 0.4em;
          margin-inline-start: 0.4em;
}
.mainbody article.content code {
  white-space: nowrap;
  display: inline-block;
  color: var(--primary-accent);
}
.mainbody article.content h1 {
  margin-bottom: 0.2em;
  margin-top: 1em;
}
.mainbody article.content p {
  margin-block: 0.1em;
}

.TEX-A:is(.mjx-c25FB, .mjx-c25FC) {
  --special-color: color-mix(in srgb, var(--primary-accent), var(--primary-color) 70%);
  color: var(--special-color);
  font-weight: 1000;
}

mjx-container[jax=CHTML][display=true] {
  color: color-mix(in srgb, var(--primary-color), var(--base-accent) 50%);
  margin-block: 0em;
  padding-block: 1em;
  padding-inline: 1em;
  width: -webkit-max-content;
  width: -moz-max-content;
  width: max-content;
  width: 100%;
  margin: auto !important;
  font-size: 1.3em !important;
}

button {
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-radius: 0.5rem;
  border: solid 1px color-mix(in oklch, var(--primary-accent), transparent);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: color-mix(in srgb, var(--primary-accent), transparent 85%);
  color: var(--primary-accent);
  font-family: var(--primary-font);
  font-weight: bold;
}

button.active {
  background-color: color-mix(in srgb, var(--primary-accent), transparent 2%);
  color: var(--primary-bg);
}

.poem-container {
  font-family: var(--primary-font);
}
.poem-container .title {
  font-family: var(--sans-font);
  margin-bottom: 1em;
}
.poem-container .content p {
  margin-block: 0.5em;
  font-size: 1.15rem;
}
.poem-container hr {
  border: none;
  margin-left: 12em;
  margin-block: 0;
}
.poem-container hr:before {
  content: "∗ ∗ ∗";
  text-align: left;
  color: var(--primary-accent);
  opacity: 100%;
  font-size: 1.5em;
  line-height: 1;
}

.poem-list {
  margin-block: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0rem;
}
.poem-list li {
  --border-size: 1px;
  list-style-type: none;
  border-block: var(--border-size) var(--primary-accent) solid;
  margin-bottom: calc(-1 * var(--border-size));
  padding-block: 0.7em;
  padding-inline: 1em;
  -webkit-transition: all ease 200ms;
  transition: all ease 200ms;
}
.poem-list li:hover {
  background-color: var(--secondary-bg);
  color: var(--secondary-color);
}
.poem-list li a {
  text-decoration: none;
  display: block;
  font-size: 1.5rem;
  color: inherit;
}

ul.blog-post-list, ul.home-post-list, .post-list {
  padding: 0;
  padding: 1em;
  background-color: var(--primary-bg);
  color: var(--primary-color);
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  gap: 0rem;
}
ul.blog-post-list li, ul.home-post-list li, .post-list li {
  list-style-type: none;
  padding-inline: 1em;
  padding-block: 0.8em;
  --border-size: 1px;
  border-block: solid var(--border-size) color-mix(in srgb, var(--primary-accent), var(--primary-bg));
  margin-bottom: calc(-1 * var(--border-size));
}
ul.blog-post-list li:hover, ul.home-post-list li:hover, .post-list li:hover {
  background-color: color-mix(in srgb, color-mix(in oklch, var(--primary-accent) 90%, var(--pure-contrast)), transparent 92%);
  color: var(--primary-color);
}
ul.blog-post-list li a, ul.home-post-list li a, .post-list li a {
  text-decoration: none;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
}
ul.blog-post-list li a .date, ul.blog-post-list li a .title, ul.home-post-list li a .date, ul.home-post-list li a .title, .post-list li a .date, .post-list li a .title {
  min-width: 6em;
}
ul.blog-post-list li a .date, ul.home-post-list li a .date, .post-list li a .date {
  color: var(--primary-accent);
  font-weight: bold;
  font-size: 1.1em;
  padding-right: 1em;
  display: inline-block;
  width: 6em;
}
ul.blog-post-list li .tag, ul.home-post-list li .tag, .post-list li .tag {
  padding-inline: 0.5rem;
  padding-block: 0.2rem;
  border-radius: 0.5rem;
  border: solid 1px color-mix(in oklch, var(--primary-accent), transparent);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  background-color: color-mix(in srgb, var(--primary-accent), transparent 85%);
  color: var(--primary-accent);
  font-family: var(--primary-font);
  font-weight: bold;
}

.home-post-lists > .home-post-group:hover:not(:has(> ul:hover)) > * {
  background-color: color-mix(in srgb, var(--primary-bg) 95%, var(--primary-accent));
}
.home-post-lists > .home-post-group > h2 {
  margin-block: 0;
}
.home-post-lists > .home-post-group > h2 a {
  display: block;
  text-decoration: none;
  padding-block: 0.2em;
  padding-inline: 0.6em;
  -webkit-transition: color 100ms ease;
  transition: color 100ms ease;
  border-top: 2px solid color-mix(in srgb, var(--primary-accent), transparent 80%);
  border-left: 2px solid color-mix(in srgb, var(--primary-accent), transparent 80%);
  color: var(--primary-accent);
}
.home-post-lists > .home-post-group > h2 a:hover {
  color: var(--primary-accent);
  background-color: color-mix(in srgb, var(--primary-bg) 85%, var(--primary-accent));
}
.home-post-lists .home-post-list {
  margin-block: 0;
  -webkit-margin-after: 2em;
          margin-block-end: 2em;
}
.home-post-lists .home-post-list li:first-child {
  border-top: none;
}
.home-post-lists .home-post-list li:last-child {
  border-bottom: none;
}
.home-post-lists .home-post-group:last-child li:last-child {
  border-bottom: solid var(--border-size) color-mix(in srgb, var(--primary-accent), var(--primary-bg));
}

@media screen and (max-width: 768px) {
  body {
    display: block;
  }
  .nav-mobile {
    width: 100vw;
    height: -webkit-fit-content;
    height: -moz-fit-content;
    height: fit-content;
    min-height: -webkit-min-content;
    min-height: -moz-min-content;
    min-height: min-content;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    top: 0;
    padding: 0.2em 0.4em;
    background-color: var(--secondary-bg);
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
  }
  .nav-mobile * {
    color: var(--secondary-accent);
    background-color: transparent;
    border: none;
    font-size: 2rem;
  }
  .nav-mobile #expand {
    z-index: 999;
    -webkit-transition: color 200ms ease;
    transition: color 200ms ease;
  }
  .nav-mobile #expand.active {
    color: var(--secondary-color);
    background-color: transparent;
    border: none;
    opacity: 0.75;
  }
  .nav-mobile .nav-settings-button:hover {
    color: var(--secondary-color);
  }
  .nav-mobile .nav-home-button {
    color: var(--secondary-accent);
    font-size: 2rem;
    display: block;
  }
  .nav-mobile .nav-home-button:hover {
    color: var(--secondary-color);
  }
  .nav-mobile a {
    text-decoration: none;
  }
  #modal-background {
    z-index: 89;
    width: 100%;
    height: 100%;
    overflow: auto;
    position: fixed;
    left: 0;
    top: 0;
    display: none;
    background-color: rgba(0, 0, 0, 0.1882352941);
    -webkit-backdrop-filter: blur(2px);
            backdrop-filter: blur(2px);
  }
  .navbar {
    z-index: 91;
    position: fixed;
    width: 55vw;
    min-width: -webkit-min-content;
    min-width: -moz-min-content;
    min-width: min-content;
    left: 0;
  }
  .navbar .navbar-item.navbar-logo {
    font-size: 2.5rem;
  }
  .navbar .navbar-item:not(.navbar-logo) {
    padding-inline: 1.3em;
    margin-block: 0.4em;
    font-size: 1rem;
  }
  .mainbody {
    position: relative;
    margin: 0 !important;
    width: -webkit-fit-content !important;
    width: -moz-fit-content !important;
    width: fit-content !important;
  }
  .mainbody main {
    padding: 1em !important;
  }
  .footer {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: vertical;
    -webkit-box-direction: normal;
        -ms-flex-direction: column;
            flex-direction: column;
    padding: 1em;
  }
  .footer p {
    width: 90vw !important;
  }
  ul.blog-post-list li a .date {
    display: block;
  }
  main > .post-list .post-list-item .title {
    width: 100%;
  }
  .poem-container .content p {
    font-size: 1rem;
  }
  .poem-container hr {
    margin-left: 4em;
  }
  .home-post-lists .home-post-list {
    margin-block: 0;
    -webkit-margin-after: 0.5em;
            margin-block-end: 0.5em;
  }
  main.container {
    width: 100vw;
  }
  main.container h1.title {
    font-size: 1.5rem;
  }
  main.container .tag {
    font-size: 0.7em;
    padding: 0.4rem;
  }
  mjx-container[jax=CHTML][display=true] {
    font-size: 1.1rem !important;
    background-color: color-mix(in oklch, var(--primary-bg), var(--pure-contrast) 5%);
    overflow: scroll;
    overflow-wrap: break-word;
  }
}/*# sourceMappingURL=styles.css.map */