@use 'theme';
@use 'settings';


@import url('https://fonts.googleapis.com/css2?family=Source+Serif+4');
@import url('https://fonts.googleapis.com/css2?family=Quicksand');
@import url('https://fonts.googleapis.com/css2?family=Cardo');
@import url('https://fonts.googleapis.com/css2?family=Spectral');
@import url('https://fonts.googleapis.com/css2?family=Jost');
@import url('https://fonts.googleapis.com/css2?family=Arvo');
@import url('https://fonts.googleapis.com/css2?family=Bellefair');
@import url('https://fonts.googleapis.com/css2?family=Fira+Code');
@import url('https://fonts.googleapis.com/css2?family=Passions+Conflict');

* {
	box-sizing: border-box;
}


*:root {
	--nav-width: 10vw;
	--primary-font: spectral, 'Cardo';
	--sans-font: jost, "quicksand", "Julius sans one", "Jura", "Bricolage Grotesque";
	--header-font: "Spectral", "Playfair Display", "Julius sans one";
	--logo-font: Bellefair, 'Playfair display';
	--main-font-size: 20px;
	--prose-title-font: Bellefair, "passions conflict", "mea culpa";
	font-size: var(--main-font-size);
	/* to set rem */
}

body {
	box-sizing: border-box;
	padding: 0;
	margin: 0;
	background-color: var(--primary-bg);
	font-family: var(--primary-font);
	color: var(--primary-color);
	font-size: 1rem;
	overflow: scroll;
	min-height: 100vh;
	height: 100;

	display: flex;
	flex-direction: row;

	a {
		color: var(--primary-color)
	}

	p > a {
		color: var(--primary-accent)
	}
}


@mixin body-theme {
	background-color: var(--primary-bg);
	color: var(--primary-color);
}


body {
	@include body-theme();
}

.nav-mobile {display: none}
.navbar {
	font-family: var(--sans-font);
	font-weight: 100;
	text-transform: uppercase;

	box-sizing: border-box;
	width: var(--nav-width);
	min-width: min-content;
	text-wrap: pretty;

	display: flex;
	flex-direction: column;
	
	position: sticky;
	top: 0;
	height: 100vh;
	padding: 3em 1.1em 3em 1.1em;

	background-color: var(--secondary-bg);
	color: var(--secondary-color);
	

	* {
		display: block;

		line-height: 2;
		letter-spacing: 0.1em;
	}

	
	.navbar-item.navbar-logo {
		font-size: 1.9rem;
		font-family: var(--logo-font);
		font-weight: 100;
		text-transform: capitalize;
		margin-block: 2rem;
		line-height: 1.4;
		width: min-content;

		&::after {
			content: '';
			width: 70%;
			height: 2px;
			background-color: var(--secondary-accent);
			display: block;
			margin: auto;
		}
	}

	a,
	#blog-button {
		text-decoration: none;
		color: inherit;
		width: max-content;
		text-wrap: pretty
	}

	/* underline effect */
	.navbar-item {
		background:
			linear-gradient(to right,
				transparent,
				transparent),
			linear-gradient(to right,
				color-mix(in srgb, var(--secondary-accent), var(--secondary-bg)),
				var(--secondary-accent));
		background-size: 100% 3px, 0 3px;
		background-position: 100% 100%, 0 100%;
		background-repeat: no-repeat;
		opacity: 0.75;
		transition-property: opacity, background-position;
		transition: 200ms ease-in-out;

		margin-block: .3em;

		// misc
		font-size: .9em;
	}

	a,
	#blog-button {
		font-weight: 800;
	}

	a:not(.navbar-logo):hover {
		background-size: 0 3px, 100% 3px;
		opacity: 1;
	}

	/* more nav stuff */
	li a {
		margin-left: 1em
	}

	a#home-link {
		letter-spacing: 0.2em;
		font-size: 1.3em;
		font-weight: 800;
		opacity: unset;
	}

	a.active {
		color: var(--secondary-accent);
		opacity: 1;
	}

}


// Page Content
.mainbody {
	--subtle-text-color: color-mix(in srgb, var(--primary-color) 95%, transparent);

	display: flex;
	justify-content: space-between;
	flex-direction: column;

	width: calc(100vw - var(--nav-width));
	margin-right: 0;
	margin-left: auto;
	
	::selection {
		background-color: color-mix(in srgb, var(--primary-accent), var(--primary-bg) 75%);
		// color: var(--secondary-accent);
	}

	> h1 {
		padding-inline: 3rem;
		margin-bottom: 0;
		margin-top: 2rem
	}

	.tag-list {
		display: flex;
		gap: 0rem;
	
		.tag {
			// background-color: color-mix(in oklab, var(--primary-accent), transparent 70%);
			color: var(--subtle-text-color);
			opacity: 0.8;
			font-family: var(--sans-font);
			padding-inline: .5rem;
			padding-block: 0;
			font-size: .9rem;
			// border-radius: 2rem;
			display: block;
			width: fit-content;
			user-select: none;
			border-right: solid 2.2px color-mix(in srgb, var(--primary-accent), var(--subtle-text-color));

			&:first-child {
				padding-left: 0;
			}

			&:last-child {
				border-right: none;
			}
		}
	}	

	.last-mod {
		color: var(--subtle-text-color);
		opacity: 0.75;
		font-family: var(--sans-font);
		font-size: .85rem;
		margin-top: .2em;
	}

	main {
		padding-block: 3rem;
		padding-left: 7rem;
		padding-right: 10rem;
		overflow-y: auto;
		height: max-content;
		grid-column: 2;
		box-sizing: border-box;
		width: 100%;
		min-height: 100vh;
	}

	main.container {
		h1.title {
			font-size: 2.5rem;
			margin-bottom: 0.3em;

			&:has(+.description) {
				margin-bottom: 0;
			}
		}
		.description {
			margin-top: 0.4em;
			margin-bottom: 1.2em;
			// font-family: var(--sans-font);
			font-size: 1rem;
			opacity: 0.85;
		}
	}
	

	.footer {
		display: flex;
		width: 100%;
		justify-content: space-around;
		padding-block: .3rem;
		border-top: solid 2px var(--secondary-bg);
		padding-block: 1em;
		background-color: color-mix(in srgb, var(--pure-contrast), transparent 94%);
		background-color: color-mix(in srgb, var(--primary-bg) 92%, var(--primary-accent));

		p {
			display: block;
			margin: 0;
			// flex-grow: 1;
		}

		a {
			text-decoration: none;
			font-weight: 100;
			font-family: var(--sans-font);
			text-transform: uppercase;
		}
	}

	hr {
		border-color: color-mix(in srgb, transparent 80%, var(--primary-accent));
	}

	article.content {
		// background-color: red;
		padding-block: 2em;

		blockquote {
			margin-inline: 0;
			border-inline-start: 2px var(--primary-accent) solid;
			padding-inline-start: 1.4em;
			margin-inline-start: .4em;
		}

		code {
			white-space: nowrap;
			display: inline-block;
			color: var(--primary-accent)
		}

		h1 {
			margin-bottom: 0.2em;
			margin-top: 1em;
			font-size: 1.4em;
		}
		p, ul, ol {
			color: var(--subtle-text-color);
			line-height: 1.7;
		}
		p {
			margin-block: 0.1em;
			margin-bottom: 0.8em;
		}
		p:has(+ :is(ul, ol)) {
			margin-bottom: 0;
		}
		p + hr:has(+ p) { // dinkus
			border: none;
			margin: 0;
			&::before {
				content: " ✽✽✽ ";
				color: color-mix(in srgb, var(--primary-color) 90%, var(--primary-accent));
				margin-block: 1.6em;
				margin-inline: auto;
				width: fit-content;
				display: block;
				letter-spacing: 1em;
			}
		}
		p:has(+ hr) { // p before dinkus
			margin-bottom: 0;
		}
		ul, ol {
			margin-block: 0.4em;
		}
		.notes {
			list-style-type: lower-alpha;
		}
		a {
			color: color-mix(in oklch, var(--subtle-text-color), var(--primary-accent) 80%);
		}


		div.poem {
			width: 70%;
			margin-left: 3em;
			margin-bottom: 2em;
		}
		
	}
}


// a:has(.tag) {
// 	text-decoration: none;
// }



main.post-list, main > .post-list {
	// font-size: 0.8rem;
	display: block;
	display: flex;
	flex-direction: column;
	

	a {
		text-decoration: none;
	}

	.section-name-headers {
		a {
			text-decoration: underline solid 2px var(--secondary-accent);
		}
	}

	.content {
		&.shortened {
			white-space: nowrap;
			overflow: hidden;
			text-overflow: ellipsis;
			max-width: 5em;
		}
	}

	.empty-message {
		// displayed if the list is empty:
		p {
			font-size: 1.5rem
		}
		h1 {
			font-size: 2rem;
		}
		// margin-inline: auto;
		background-color: color-mix(in srgb, var(--secondary-bg), transparent);
		// background: linear-gradient(
		// 	to right,
		// 	color-mix(in srgb, var(--secondary-bg), transparent 10%),
		// 	color-mix(in srgb, var(--secondary-bg), transparent 90%)
		// );
		border: 2px var(--primary-accent) dashed;
		border: none;
		color: var(--secondary-color);
		// padding-inline: 7em;
		padding-inline: 2em;
		padding-block: 1em;
	}
}



// Maths
// proof square
.TEX-A:is(.mjx-c25FB, .mjx-c25FC) {
	--special-color: color-mix(in srgb, var(--primary-accent), var(--primary-color) 70%);
	color: var(--special-color);
	font-weight: 1000;
	// background-color: var(--special-color);
}


// display
mjx-container[jax="CHTML"][display="true"] {
	color: color-mix(in srgb, var(--primary-color), var(--base-accent) 50%);
	margin-block: 0em;
	padding-block: 1em;
	padding-inline: 1em;
	width: max-content;
	width: 100%;
	margin:auto !important;
	font-size: 1.3em !important;
}

// BLOG POST LIST
button {
	padding-inline: .5rem;
	padding-block: .2rem;
	border-radius: .5rem;
	border: solid 1px color-mix(in oklch, var(--primary-accent), transparent);
	width: fit-content;
	background-color: color-mix(in srgb, var(--primary-accent), transparent 85%);
	color: var(--primary-accent);
	font-family: var(--primary-font);
	font-weight: bold;
}

button.active {
	background-color: color-mix(in srgb, var(--primary-accent), transparent 2%);
	color: var(--primary-bg)
}


// poems
main.container.poem-container {
	font-family: var(--primary-font);

	h1.title.poem-title {
		font-family: var(--sans-font);
		font-size: 2rem;
		margin-bottom: .7em;
	}

	article.content {
		padding-top: 0;

		p {
			margin-block: .5em;
			font-size: 1rem;
			line-height: 1.45;
			margin-bottom: 1.5em
		}
	}

	hr {
		border: none;
		margin-left: 12em;
		margin-block: 0;

		&:before {
			content: '∗ ∗ ∗';
			text-align: left;
			color: var(--primary-accent);
			opacity: 100%;
			font-size: 1.5em;
			line-height: 1
		}
	}
}
.poem-list {
	// background-color: var(--secondary-bg);
	margin-block: 1em;
	display: flex;
	flex-direction: column;
	gap: 0rem;

	li {
		--border-size: 1px;
		list-style-type: none;
		border-block: var(--border-size) var(--primary-accent) solid;
		margin-bottom: calc(-1 * var(--border-size));
		padding-block: .7em;
		padding-inline: 1em;
		transition: all ease 200ms;

		&:hover {
			background-color: var(--secondary-bg);
			color: var(--secondary-color)
		}

		a {
			text-decoration: none;
			display: block;
			font-size: 1.5rem;
			color: inherit;
		}
	}
}

// MERGE THIS WITH POEM-LIST CSS (i think I have already now?)
ul.blog-post-list, ul.home-post-list, .post-list {

	// border: 1px solid var(--primary-accent);
	// border-bottom: none;
	padding: 0;
	padding: 1em;
	background-color: var(--primary-bg);
	color: var(--primary-color);
	display: flex;
	flex-direction: column;
	gap: 0rem;

	li {
		list-style-type: none;
		padding-inline: 1em;
		padding-block: 0.8em;
		--border-size: 1px;
		border-block: solid var(--border-size) color-mix(in srgb, var(--primary-accent), var(--primary-bg));
		margin-bottom: calc(-1*var(--border-size));

		&:hover {
			background-color: color-mix(in srgb,
			 	color-mix(in oklch, var(--primary-accent) 90%, var(--pure-contrast)), 
			transparent 92%);
			color: var(--primary-color)
		}

		a {
			text-decoration: none;
			display: flex;

			.date, .title  {
				min-width: 6em;
			}

			.date {
				color: var(--primary-accent);
				font-weight: bold;
				font-size: 1.1em;
				padding-right: 1em;	
				display: inline-block;
				// min-width: max-content;
				width: 6em;		
			}

			// .article-container {
			// 	display: inline-flex;
			// 	gap: .5em;
			// }
		}

		.tag {
			padding-inline: .5rem;
			padding-block: .2rem;
			border-radius: .5rem;
			border: solid 1px color-mix(in oklch, var(--primary-accent), transparent);
			width: fit-content;
			background-color: color-mix(in srgb, var(--primary-accent), transparent 85%);
			color: var(--primary-accent);
			font-family: var(--primary-font);
			font-weight: bold;
		}
	}
}


.home-post-lists {
	> .home-post-group {

		&:hover:not(:has( > ul:hover)){  // how did I get this first try??
			> * {
				background-color: color-mix(in srgb, var(--primary-bg) 95%, var(--primary-accent));
			}
		}

		> h2 {
			margin-block: 0;
			
			a {
				display: block;
				text-decoration: none;
				padding-block: .2em;
				padding-inline: .6em;
				transition: color 100ms ease;

				border-top: 2px solid color-mix(in srgb, var(--primary-accent), transparent 80%);
				border-left: 2px solid color-mix(in srgb, var(--primary-accent), transparent 80%);
				// border-left: 2px solid var(--primary-accent);
				color: var(--primary-accent);
				// background-color: color-mix(in srgb, var(--primary-bg) 92%, var(--primary-accent));
				&:hover {
					color: var(--primary-accent);
					background-color: color-mix(in srgb, var(--primary-bg) 85%, var(--primary-accent));
				}
			}
		}
	}


	.home-post-list {
		margin-block: 0;
		margin-block-end: 2em;
		padding-top: 0;
		

		li:first-child {
			border-top: none;
		}

		li:last-child {
			border-bottom: none;
		}

		.post-list-item.poem {
			line-height: 1;
			height: fit-content;

			h4 {
				margin: 0;
				font-weight: 100;
			}
		}
	}
	
	.home-post-group:last-child {
		li:last-child {
			border-bottom: solid var(--border-size) color-mix(in srgb, var(--primary-accent), var(--primary-bg));
		}
	}
}



// PROSE (short stories)
.mainbody main.prose-container {
	h1.prose-title {
		font-family: var(--prose-title-font);
		font-weight: 100;
		font-size: 3rem;
		color: color-mix(in srgb, var(--primary-color), var(--primary-accent) 40%)
	}
	article.prose-content {
		padding-top: 0;

		p {
			margin-bottom: 0.2em;
			// not justifying for now
		}
		p:not(:first-child) {
			text-indent: 1.5em;
		}
	}
}

.backnext {
	//background-color: var(--secondary-bg);
	--backnext-bg-color: color-mix(in oklch, var(--primary-accent) 13%, var(--primary-bg));
	background-color: var(--backnext-bg-color);
	color: ver(--secondary-color);
	width: fit-content;
	margin: auto;


	ul {
		width: fit-content;
		display: flex;
		flex-direction: row;
		justify-content:center;
		gap:0;
		padding: 0;

		li {
			border: 1px solid var(--secondary-accent);
			padding-block: .7em;
			padding-inline: 1.5em;
			list-style-type: none;

			&:hover {
				background-color: color-mix(in oklch, var(--primary-accent) 20%, var(--primary-bg))
			}

			&.disabled {
				background-color: color-mix(in oklch, var(--backnext-bg-color) 96%, var(--pure-contrast));
				--contrast-color: color-mix(in oklch, var(--backnext-bg-color) 68%, var(--pure-contrast)) ;

				&:has(.next) {
					border-color: var(--contrast-color);
					border-left-color: var(--secondary-accent);
				}
				&:has(.previous) {
					border-color: var(--contrast-color);
					border-right-color: var(--secondary-accent);				
				}
				a{ color: var(--contrast-color); }
				
			}

			&:first-child {
				border-right: none;
			}

			a {text-decoration: none}
			
		}
	}
}


// 404 ERROR PAGE
main.four-o-four {
	margin: auto;
	width: 100%;
	padding: 0;
	position:fixed;
	top: 0;
	left:0;
	overflow: hidden;

	> * {
		// display: block;
		// margin:auto;
		text-align: center
	}

	h1 {
		font-family: var(--sans-font);
		font-weight: 800;
		font-size: 13rem;
		margin-bottom: 0;
		margin-top: 15vh;
	}
}

// MOBILE AT THE END
@import 'mobile';