<h1>Annotated Bibliography</h1>
<div class="bibliography">
	{{/*  Click references for annotations if available.  */}}
    <ul>
        {{ range sort . "author" }}
			<li>
				{{ with .annotation }}
					<details>
					<summary>
				{{ end}}
            {{ if eq .type "book" }}
				{{ $entry := . }}

				{{ .author }}.
				{{ with .published }}({{ . }}).{{ end }}
				<em>“{{ .title }}{{ with .subtitle }}: {{ . }}{{ end }}”.</em>
				{{ with .publisher }}
					{{ . }}.
				{{ end }}
            {{ else if eq .type "site" }}
				{{ .author }}.
				{{ with .published }}
					({{ . }}).
				{{ end }}
				<em>‘{{ .title }}{{ with .subtitle }}: {{ . }}{{ end }}’.</em>
				{{ with .retrieved }}
					Retrieved {{ time.AsTime . | time.Format "2 January, 2006" }}, from
				{{ end }}
				<a href="{{ .url }}">{{ .url }}.</a>
				{{/*  tot: add for anthology ch, eg c20p, and add journal pub  */}}
            {{ end }}

			{{ with .annotation }}
				</summary>		
				<p class="annotation">{{ . }}</p>
			{{ end }}
			</li>
        {{ end }}
    </ul>
</div>