<head>
	<meta charset="utf-8">
	<meta name="viewport" content="width=device-width, initial-scale=1">
	{{ $style := resources.Get "css/styles.css" | fingerprint }}
	<link rel="stylesheet" href="{{ $style.Permalink }}">
	<link rel="icon" href="/favicon-reset.ico" sizes="any">
	<link rel="icon" type="image/png" href="/favicon-96x96.png">
	<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<title>{{ block "title" . }}
		{{ .Site.Title }}
		{{ end }}</title>
	{{ if .Param "math" }}
	{{ partialCached "math.html" . }}
	{{ end }}
</head>

