main:has(main.four-o-four) {
	width: 100%;
	height: 100%;

	main.four-o-four {
		margin-inline: auto;
		// width: 100%;
		padding: 0;
		overflow: hidden;

		> * {
			// display: block;
			// margin:auto;
			text-align: center
		}

		h1 {
			font-family: var(--sans-font);
			font-weight: 800;
			font-size: 13rem;
			margin-bottom: 0;
			margin-top: 15vh;
			display: block
		}
	}
}
