{{ define "main" }}
<section class="section">
	<main class="container">
		<h1>Welcome!</h1>
		<article>{{.Content}}</article>
		<div class="home-post-lists">
			{{/* get most recent Lastmod */}}
			{{ $sections := slice }}
			{{ range where (where .Site.Sections "Section" "ne" "legal") "Pages" "!=" nil }}
			{{ $publishedPages := where .Pages "Draft" "!=" true }}
			{{ if and $publishedPages (ne .Section "settings") }}
			{{ $lastmod := (index (sort $publishedPages "Lastmod" "desc") 0).Lastmod }}
			{{ $sections = $sections | append (dict "Section" . "Lastmod" $lastmod) }}
			{{ end }}
			{{ end }}

			{{/* sort and display sections */}}
			{{ $sortedSections := sort $sections "Lastmod" "desc" }}
			{{ range $sortedSections }}
				{{ $s := .Section }}
				<div class="home-post-group">
					<h2><a href="{{ $s.Permalink }}">{{ $s.Title }}</a></h2>
					<ul class="home-post-list">
						{{ range sort (where $s.Pages "Draft" "!=" true) "Lastmod" "desc" }}
							<li>
								{{ .Render "summary" }}
							</li>
						{{ end }}
					</ul>
				</div>
			{{ end }}

		</div>
	</main>
</section>
{{ end }}