{{ define "main" }}
<section class="section">
	<main class="container">
		<h1>Welcome!</h1>
		<article>{{.Content}}</article>
		<div class="home-content-lists">
			{{/* get most recent Lastmod */}}
			{{ $sections := slice }}
			{{ range where (where .Site.Sections "Section" "ne" "legal") "Pages" "!=" nil }}
				{{ $publishedPages := where .Pages "Draft" "!=" true }}
				{{ if and $publishedPages (ne .Section "themes") }}
					{{ $date := (index (sort $publishedPages "Date" "desc") 0).Date }}
					{{ $sections = $sections | append (dict "SectionPage" . "Date" $date) }}
				{{ end }}
			{{ end }}

			{{/*  Create a mapping to determine what my partials should be  */}}
			{{ $partialNames := dict
				"essays" "essay-list.html"
				"poems" "poem-list.html"
			}}

			{{/* sort and display sections */}}
			{{ $sortedSections := sort $sections "Date" "desc" }}

			{{ range $sortedSections }}
				{{ $s := .SectionPage }}
				{{ $partial := index $partialNames $s.Section }}

				<div class="home-content-list-container">
					<h2><a href="{{ $s.Permalink }}">{{ $s.Title }}</a></h2>
					{{ partial $partial (dict
						"pages" (sort (where $s.RegularPages "Draft" "!=" true) "Date" "desc" | first 5)
						"home" true
					) }}
				</div>
			{{ end }}

		</div>
	</main>
</section>
{{ end }}